		
	body{
		margin:0;
		padding:0;

	}
	
	nav{
		border-bottom:1px solid lightgrey;
		text-align:center;
		font-weight:20px;
		padding:2px;
		background-color:#FFFFFF;
		width:2000px;
		position:fixed;
		display:inline;
		max-width:2500px;
		max-height:120px;
		min-height:50px;
		min-width:1500px;

	}
	nav ul{
		width:900px;
		padding:0;
		margin:0;
		position:absolute;
		left:1100px;
		display:inline;
		z-index:1;
		max-width:1600px;
		top:31px;
		max-width:1000px;
	}
	
	nav il{
		color:black;
		letter-spacing:2px;
		font-size:17px;
		font-family:Helvetica;
		margin:0px;
		background-color:#FFFFFF;
		height:100%;
		padding:30px 20px;
		font-weight:50px;
		display:inline;
	
	}
	
	nav il :hover{
		color:white;
		letter-spacing:2px;
		font-size:20px;
		font-family:Helvetica;
		margin:0;
		background-color:#4682B4;
		height:100%;
		padding:27px 20px;
		display:inline;
	}
	
	nav il :active{
		color:white;
		letter-spacing:2px;
		font-size:20px;
		font-family:Helvetica;
		margin:0;
		background-color:#4682B4;
		height:100%;
		padding:27px 20px;
		display:inline;
	}
	
	.Logo{
		margin:5px;
		padding:0;
		position:relative;
		right:775px;
		z-index:1;
	}
	
	#Banner {
		background-image:url("capa4.jpg");
		background-size:cover;
		margin:0;
		padding-top:150px;
		border-bottom:1px solid lightgray;
		padding-right:100px;
		min-width:1200px;
	}
	
	#Inicio h1{
		font:"helvetica";
	}
	
	
		
	#Editorial {	
		margin:0;
		background-color:#F5F5F5;
		padding-top:10px;
		padding-left:125px;
	}
	
	
	.Nuno{
		max-width:250px;
		border-radius:25px;
		display:inline-block;
		position:relative;
		left:150px;
	}
	
	.welcome {
		display:inline-block;
		max-width:500px;
		position:relative;
		top:-150px;
		left:700px;
		font-size:25px;;
		text-align:justify;
	}